<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Storm Security - Teste Python - Comédia</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="../static/css/reset.css">
	<link rel="stylesheet" href="../static/css/comum.css">
	<script src="../static/js/jquery.js"></script>
	<script src="../static/js/load.js"></script>
</head>
<body>
	<header id="header">
		<div class="content">
			<a href="../" class="home" title="voltar para home"></a>
		</div>
	</header>
	<main id="Content" class="fix">
		<header class="fix">
			<h1 class="fl">{{nome}}</h1>
			<form action="">
				<select name="order" id="order_genero" class="fr">
					<option value="0">Ordenar por:</option>
					<option value="asc">a - z</option>
					<option value="desc">z - a</option>
				</select>
			</form>
		</header>
		
		<section id="listagem" class='fix'>
			<ul>
				{% for filme in filmes %}
					<li class="fl {% if forloop.counter|divisibleby:5 %}last{% endif %}">	
						<a href="../interna/?id={{filme.id}}">
							<img src="{{ MEDIA_URL }}{{filme.foto.url}}" alt="" width="168px" height="216px">
						</a>
					</li>
				{% endfor %}
			</ul>
		</section>

	</main>
	
</body>
</html>