<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Storm Security - Teste Python</title>

	<link rel="stylesheet" href="/static/css/reset.css">
	<link rel="stylesheet" href="/static/css/comum.css">
</head>
<body>
	<header id="header">
		<div class="content">
			<a href="../" class="home" title="voltar para home"></a>
		</div>
	</header>
	<main id="Content" class="fix">
		<header class="fix">
			<h1>{{filme.nome}}</h1>
		</header>
		
		<section id="Infos" class='fix'>
			<figure class="fl"><img src="{{ MEDIA_URL }}{{filme.foto.url}}" alt=""width="220px"></figure>
      	
			<article class="fl">
				<p class="tit">Sinopse:</p>
				<p class="txt">{{filme.sinopse}}</p>
				<p class="tit">Genero:</p>
				<p class="txt">
					{% for genero in generos %}

						{% if forloop.last and not forloop.first %} 
							e 
						{% else%} 

							{% if not forloop.first %} 
								, 
							{% endif%} 

						{% endif%}
						<a href="../genero/?id={{genero.id}}">{{genero.nome}}</a>   

					{% endfor %}
				</p>	 

				<p class="tit">Atores:</p>
				<p class="txt">
					{% for ator in atores %}

						{% if forloop.last and not forloop.first %} 
							e 
						{% else %} 

							{% if not forloop.first %} 
								, 
							{% endif%} 

						{% endif%}
						
						<a href="../artista/?id={{ator.id}}">{{ator.nome}}</a>   
						  
					{% endfor %}
				</p>
			</article>

		</section>

		<section id="listagem" class='fix'>
			<header class="fix">
				<h2>Filmes Relacionados</h2>
			</header>
			<ul>
				{% for filme in lista_filmes %}

					<li class="fl {% if forloop.counter|divisibleby:5 %}last{% endif %}">
						
						<a href="/interna/?id={{filme.id}}">
							<img src="{{ MEDIA_URL }}{{filme.foto_thumbnail.url}}" alt="" >
						</a>
					</li>
				{% endfor %}
			</ul>
		</section>

	</main>
	
</body>
</html>